:root {
  /* colors */
  --color-purple-050: #F8F7FF;
  --color-purple-100: #E7DDFF;
  --color-purple-200: #8B5CF6;
  --color-purple-300: #6A3FCB;

  --color-white: #FFFFFF;
  --color-gray-100: #E2E2E2;
  --color-gray-200: #3F4658;
  --color-gray-300: #1E1E1E;

  /* fonts */
  --ff-heading: 'Sora', sans-serif;
  --ff-body: 'Inter', sans-serif;

  --fs-xl: 2rem;
  --fs-lg: 1.5rem;
  --fs-base: 1rem;
  --fs-md: 0.875rem;
  --fs-sm: 0.875rem;

  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --font-title: normal    var(--fw-bold)      var(--fs-xl)var(--ff-heading);
  --font-body-lg: normal  var(--fw-medium)    var(--fs-lg)var(--ff-body);
  --font-body-md: normal  var(--fw-medium)    var(--fs-md)var(--ff-body);
  --font-body-sm: normal  var(--fw-medium)    var(--fs-sm)var(--ff-body);
  --font-button: normal   var(--fw-semibold)  var(--fs-sm)  var(--ff-body);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--ff-body);
  color: var(--color-gray-200);
  line-height: 130%;
}

h1 {
  font: var(--font-title);
  color: var(--color-purple-200);
}

h2 {
  font: var(--font-body-lg);
  color: var(--color-gray-300);
}

.page-header {
  display: grid;
  gap: 8px;
  justify-content: center;
  text-align: center;
  margin-top: 88px
}

main {
  width: 272px;
  margin-block: 48px 32px;
  margin-inline: auto;
  display: grid;
  gap: 24px;
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font: var(--font-body-md);
}

.filtro {
  position: relative;
}

.filtro-botao {
  cursor: pointer;
  background: transparent;
  border: none;
  opacity: 0.75;
  font: var(--font-body-sm);
  display: flex;
  gap: 4px;
  align-items: center;
}

.filtro-botao:hover {
  opacity: 1;
}

.filtro-botao.ativado,
.filtro-opcao.ativado {
  color: var(--color-purple-300);
  opacity: 1;
}

.ph.ph-caret-down {
  transition: transform 0.2s;
}

.ph.ph-caret-down.rotacionado {
  transform: rotate(-180deg);
}

.filtro-opcoes {
  border-radius: 8px;
  border: 1px solid var(--gray-100, #E2E2E2);
  box-shadow: 0px 45px 12px 0px rgba(0, 0, 0, 0.00), 0px 29px 11px 0px rgba(0, 0, 0, 0.01), 0px 16px 10px 0px rgba(0, 0, 0, 0.05), 0px 7px 7px 0px rgba(0, 0, 0, 0.09), 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  position: absolute;
  padding-block: 8px;

  display: none;
  right: -10px;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.filtro-opcoes.ativado {
  display: block;
  z-index: 1;
  background: var(--color-white);
}

.filtro-heading,
.filtro-opcao {
    background: var(--color-white);
    border: none;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    font: var(--font-body-sm);
    gap: 8px;
    white-space: nowrap;
    color: var(--color-gray-200);
  }

  .filtro-heading {
    border-bottom: 1px solid var(--color-gray-100);
    font-weight: var(--fw-semibold);
    padding-bottom: 12px;
  }

  .filtro-opcao {
    cursor: pointer;
    transition: background 0.1s ease;
  }

  .filtro-opcao:hover {
    background: var(--color-purple-100);
        color: var(--color-gray-300);
  }

  .ph-check {
    color: var(--color-purple-300);
    opacity: 0;
  }

  .filtro-opcao.ativado .ph-check {
    opacity: 1;
  }

  .card {
    background: var(--color-white);
    border: 1px solid var(--color-gray-100);
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0px 45px 12px 0px rgba(0, 0, 0, 0.00), 0px 29px 11px 0px rgba(0, 0, 0, 0.01), 0px 16px 10px 0px rgba(0, 0, 0, 0.05), 0px 7px 7px 0px rgba(0, 0, 0, 0.09), 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    min-height: 240px;
    height: 100%;

    cursor: pointer;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    height: 100%;
}

.main-footer {
  font: var(--font-body-sm);
  text-align: center;
}